html{
    overflow: hidden;
}
body {
    color:azure;
    background-color: rgb(171, 58, 6);
    font-size: 16pt;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(223, 189, 160);

  }

.navigation-bar {
    color:whitesmoke;
    background-color:rgb(112, 38, 38);
    padding: 0.7em;
    border: 0.01em ridge rgb(247, 247, 196);
}

.left-bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(149, 53, 53);
    color:whitesmoke;
    padding: 1em;
    border-right: 0.01em solid rgb(247, 247, 196);
}

.undo-redo-buttons img {
    background-color: brown;
    border-color: wheat ;
    width: 7em;
    height: 7em;
}

.tools-bar {
    padding-top: 0.5em;
}

.canvas-container {
    background-color: rgba(230, 21, 66, 0.344);
    color:whitesmoke;
    padding: 1em;
    border: 0.01em solid rgb(247, 247, 196);
}

.right-bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(149, 53, 53);
    padding: 1em;
    border: 0.01em solid rgb(247, 247, 196);
}

.button {
    border: 0.01em solid rgb(126, 4, 4);
    background-color:rgb(68, 12, 12);
    padding: 0.2em;
}

.button:hover {
    color:rgb(60, 40, 31);
    background-color: rgb(240, 204, 204);
}

#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: none;
}

#popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

#popup-content {
    background-color: brown;
    color: wheat;
    max-width: 500px;
    padding: 30px;
    position: relative;
}

#popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: wheat;
}

button {
    color: wheat;
}